.recipes-food-datails {
  align-items: start;
  display: flex;
  flex-flow: column;
}

.recipes-food-datails .details {
  margin: 0 auto;
  width: 95%;
}

.recipes-food-datails .illustration {
  height: 155px;
  width: 100%;
}

.recipes-food-datails .foods {
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 35px;
  justify-content: space-between;
}

.recipes-food-datails p:nth-child( 3 ) {
  margin: 0 auto 17px;
  width: 95%;
}

.recipes-food-datails .ingredients-and-measure {
  background-color: #ececec;
  display: flex;
  flex-flow: column;
  padding: 10px;
}

.recipes-food-datails .instructions p {
  background-color: #ececec;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.recipes-food-datails iframe {
  width: 100%;
}
